.document-list
  %h3= list_name
  %h4= "#{documents.total_entries} documents found"
  %ul
    - documents.each do |document|
      %li.document-list-entry
        = document.title
        %ul.action-list
          %li= link_to "Open", open_document_path(document.id)
          %li= link_to "Delete", document_path(document.id), method: :delete,
          data: {confirm: "Are you sure ?"}
  .document-list-pagination= will_paginate documents
