!!! 5
%html
  %head
    %title Paperless
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

    %header#header
      #logo
        %h1 Paperless
      #search-form
        = render_module :document_search_form, query: @query
      #user
        = render_module :user_card, user: current_user

    #content-wrapper
      %nav#content-nav
        %ul.navigation-list
          %li= link_to "All documents", documents_path
          %li= render_module :document_upload, document: @new_document
          %hr
          - @user_labels.each do |label|
            %li
              = render_module :label, label: label, state: "is-label-draggable"
      #content-main
        = yield
